* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
.title {
  width: 100%;
  height: 40px;
  background: #444444;
}
.title-box {
  width: 100%;
  height: 40px;
  background: #333333;
}
.nav {
  width: 1200px;
  margin: 0 auto;
}
.nav li {
  float: left;
  margin-left: 100px;
}
.nav1 {
  width: 600px;
  margin: 0 auto;
  display: none;
}
.box1 {
  width: 44px;
  height: 44px;
}
.box2 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  margin-top: -44px;
}
.box3 {
  width: 44px;
  height: 44px;
  margin-left: 580px;
  margin-top: -44px;
}
a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-size: 14px;
}
li {
  list-style: none;
}
.bannerboxs {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.boxs {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.imgboxs a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 1400px;
  top: 0;
}
.imgboxs img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.imgboxs .imgboxs_active {
  position: absolute;
  left: 0;
  top: 0;
}
.btns {
  width: 200px;
  height: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 30px;
}
.btns li {
  width: 60px;
  height: 2px;
  margin-left: 4px;
  border-radius: 50px;
  float: left;
}
.show {
  width: 100%;
  height: 200px;
}
.shows {
  width: 25%;
  height: 200px;
  float: left;
  border: 1px solid #fff;
}
.shows img {
  width: 100%;
  height: 100%;
}
.footer {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #f2f2f2;
  color: #666;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.foot {
  width: 960px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
.foote {
  width: 20%;
  float: left;
}
h3 {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 600;
  letter-spacing: normal;
  color: #333;
  margin: 0;
}
.foote a {
  color: #666;
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
.foote a:hover {
  color: #333;
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .nav1 {
    display: block;
  }
  .nav {
    display: none;
  }
  .boxs {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .show {
    width: 100%;
    height: 400px;
  }
  .shows {
    width: 50%;
    height: 200px;
    float: left;
    border: 1px solid #fff;
  }
}
@media screen and (max-width: 500px) {
  .show {
    width: 100%;
    height: 600px;
  }
  .shows {
    width: 100%;
    height: 200px;
    border: 1px solid #fff;
  }
}
